body {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  height: 70px;
}

.button {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mainButton {
  background-color: #1bb76e;
  color: white;
}

.mainButton:hover {
  box-shadow: 1px 1px green;
}

.secondaryButton {
  background-color: #66d8f5;
  color: white;
}

.secondaryButton:hover {
  box-shadow: 1px 1px rgb(119, 229, 233);
}
