body {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.buscar {
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
}

.buscar:focus-within {
  border: 1px solid blue;
}

.buscar > input {
  outline: none;
  border: 0px;
}
